CMakeCache.txt
CMakeFiles/
doc/doxygen/
Makefile
pu-dwr-diffusion
cmake_install.cmake
output*/
build/
*.h5
*.xdmf
*.log
*.aux
*.tex
*.pdf
*.png
.cproject
.settings/
.project
/my-convergence-table.synctex.gz
